/*CSS Reset*/
body, header, nav, main, footer, h1,div,img{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
body{
    background-color: #ffffff;
}

img{
    max-width: 100%;
    display: block;
}

/*Style rules for header*/
header{
    height: 40vh;
    background-image: url(../images/hero-freshly-cooked-pizza.jpg);
    background-size: cover; /*scales image to fit the header box*/
    background-position:center bottom;
    opacity:0.85;
    position: relative;
}

header h1{
    width:60%;
    text-align: center; 
    color: aliceblue;
    font-size: 5.25em;
    position: absolute;
    top:15%;
    left:45%;
    transform:translate(-50%, -50%);

}

/*Style rules for navigation*/
nav{
    float:right;
    font-size: 1.35em;
    margin: 2em 3em 0 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: .90em;
}
nav a {
    text-decoration: none;
    padding: 4px;
    color: aliceblue;
}

/*Style rules for main content*/
main {
    background-color: #FBF9F6;
    padding: 2%;
    font-size: 1.25em;
    display:flex;
    flex-direction: column;/*tell items to stack in a column*/
    gap: 2em;
}

.stagger-row{
    display: flex;/*lines up images side-by-side*/
    align-items: center;/*lines up items vertically*/
    gap: 30%;/*adds space in between text and image*/
}

.stagger-row:nth-child(even){ /*flips order of even rows*/
    flex-direction: row-reverse;
}

.col-img{
    width: 100%;
    height: auto;
    max-width: 400px;/*limits the image size*/
    border-radius: 12px;
}

/*Style rules for footer*/
footer {
    border-top: solid 1px #ddd;
    padding: 40px 0px;
}

#footer-container {
    display: flex;
    justify-content: space-between;/*controls horizontal spacing and alignment*/
    max-width: 95%;
    margin: 0 auto;
    align-items: flex-end;
}

#footer-nav{
     display: flex;
}

#footer-nav ul{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    padding:2em;
    gap: 1em;
}

#footer-nav a {
   text-decoration: none;
   padding: 0em 1.5em 0em 0em;
   color: #2b2b2a;
   font-size: 1.25em;
}

#footer-logo {
    display: flex;
    flex-direction: column;/*tells items to stack vertically*/
    align-items: center;/*controls up-down alignment*/
    color:#2b2b2a;
}

#footer-contact {
    text-align: center;
    color:#2b2b2a;
    font-size: 1em;
}
