/*CSS Reset*/
body, header, nav, main, footer, h1, div, img{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
body{
    background-color: #FFFFFF;
}

img{
    max-width: 100%;
    display: block;
}

/*Style rules for header*/
header{
    border: white;
    height: 15vh;
    border-bottom: #F8F6F8 solid 3px;
    margin-bottom: 2%;
    
}

header h1{ 
    margin-left: .5em;
    float: left;
    padding-top: 4.25%;
    font-size: 3.25em;
}

header a {
    text-decoration: none;
    color: #D20505;
}
/*Style rules for navigation*/
nav {
    margin: 3.5em 3em 0 0;
    float: right;
    font-weight: bold;
    clear: both;
}

nav ul{
    list-style-type: none;
}

nav li {
    display: inline-block;
    font-size: 1.25em;
}
nav li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

/*Style rules for main content*/
main {
    margin: 3%  3% 10% 10%;
  
}

#site-purpose {
    width: 100%;
    margin-top: 3%;
    display: block;
}

#site-purpose h2 {
    border: #D20505 solid;
    width: 45%;
    margin-top: 7%;
    margin-bottom: 3%;
    font-size: 4em;
    font-weight: bolder;
}

#site-purpose h3 {
    border: #D20505 solid;
    width: 100%;
    margin-top: .5%;
    font-size: 1.5em;
    font-weight: bold;
}

#site-purpose p {
    border: #D20505 solid;
    width: 50%;
    margin-top: .5%;
    font-size: 1.5em;
}

#site-purpose img {
    border: #D20505 solid;
    width: 40%;
    display: inline-block;
}

#more-container {
    background-color: #FFFFFF;
    padding-top: 4%;
    padding-bottom: 2%;
    clear: right; 
}

#more-container h2 {
    width: 60%;
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 4em;
    font-weight: bolder;
}  

.daily-meals {
    width: 50%;
    margin-top: .5%;
    font-size: 1.25em;
}

#breakfast, #dinner, #dessert{
    width: 31%;
    margin-top: 4% 2% 4% 2%;
    display: inline-block; 
}

#breakfast, #dinner, #dessert img {
    max-width:100%;        
    height: auto;
    margin-bottom: 5%;
    margin-left: 2%;
}

#about-me{
    background-color: #FFFFFF;
}

.about-heading {
    width: 60%;
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 4em;
    font-weight: bolder;
}

.about-subheading {
    width: 40%;
    margin-top: .5%;
    font-size: 1.5em;
    font-weight: bold;
}

.row-of-imgs {
    display: inline-block;
    width: 100%;
}

.food-pics {
    width: 32%;
    height: 50vh;
    display: inline-block;
    border-radius: 3%;
    padding-left: 1%;
}

/*Need to add sytles for contact page*/

/*Style rules for footer*/
footer {
    /*background-color: black;*/
    padding: 20px 40px;
    border-top: #F8F6F8 solid 5px;
    width: 100%;
}

.footer-nav {
    
    clear: both;
}

.copyright {
    text-align: left;
    margin-top: 7%; 
}



