/*
Diana Ruiz
Chapter 4, Lab2: Creating a Style Sheet for a Wildlife Rescue
February 08, 2026
style.css
*/

/*CSS ResetSpecifies a value of zero*/

body, header, nav, main, footer, img, h1, h3 {

    margin: 0;
    padding: 0;
    border: 0;
}

#name{

    color: rgb(0, 0, 0);
    font-family: "Gravitas One", serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 5.25em;
    position:absolute;
    margin-top: 4em;
    margin-left: 0.5em;

}

#slogan {

    color: rgb(0, 0, 0);
    font-family: "Gravitas One", serif; 
    font-weight: none;
    font-style: normal;
    font-size: 2.25em;
    position:absolute;
    margin-top: 13em;
    margin-left: 1.8em;
}

/*Style rules for the body and images*/

body {
    
    background-color: #f6eee4;

}

img {

    max-width: 100%;
    display: block;

}

/*Style rule for navigation area*/

nav {

    background-color: #2a1f14;

}

nav ul {

    list-style: none;
    margin: 0;
    text-align: center;

}

nav li {

    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;

}

nav li a {

    display: block;
    color: #f6eee4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;

}

/*Style rules for main content*/

main {

    padding: 2%;
    font-family: Verdana, Arial, sans-serif;

}

main p {

    font-size: 1.25em;    
}

main h3 {

    padding-top: 2%;

}

main ul {

    list-style-type: square;

}
 
.link {

    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;

}

.action {

    font-size: 1.75em;
    font-weight: bold;
    text-align: center;

}

#contact {

    text-align: center;

}

/*Style rules for footer content*/

footer {

    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}

footer a {

    color: #f3e6d8;
    text-decoration: none;

}